* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    font-size: 14px;
    background-color: #ECF0F1 ;
}
.container{
    width: 500px;
    margin: 50px auto 0;
    padding: 25px;
    border-top: 5px solid #0B5345;
    background-color: white;
    box-shadow: 0 0 7px 5px;
}
.form-control{
    width: 100%;
    padding: 12px 20px;
    margin: 7px 0px;
    display: inline-block;
    border: 1px solid #2ECC71;
    border-radius: 4px;
    box-sizing: border-box;
}
.form-control:focus{
    background-color: skyblue;
}
.btn{
    width: 100%;
    background-color: #2ECC71;
    color: white;
    padding: 14px 20px;
    margin: 20px 0;
    cursor: pointer;
}
.btn:hover{
    background-color: #2ecc98;
}